html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  font-family: $ff-primary;
  font-weight: 400;
  font-size: 16px;  
  background-color: $bg-color;
  color: $text-color;
}
a{
  display: inline-block;
  text-decoration: none;
  color: $text-color;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  max-width: 1182px;
  margin: 0 auto;
  padding: 0 15px;
}
.btn {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: $secondary-color;
  padding: 20px 44px;
  margin: 5px 0;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s;
}
.btn:hover {
  border: 1px solid  $secondary-color;
  background-color:#fff;
  color:  $secondary-color;
}